.post {
  width: 385px;
  margin: 40px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  background-color: #fcee09;
  font-family: 'Chakra Petch', sans-serif;
}

.postImg {
  width: 385px;
  height: 280px;
  object-fit: cover;
  border-radius: 7px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCat {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  font-size: 11px;
  color: #00E6F6;
  line-height: 19px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.postTitle {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-top: 15px;
  cursor: pointer;
}

.postDate {
  font-family: 'Chakra Petch', sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
  color: #00E6F6;
  margin-top: 15px;
}

.postDesc {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.postTitle {
  position: relative;
}
.postTitle:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 10px;
  background-color: rgb(0, 0, 0);
  clip-path: polygon(0px 0px, 85px 0px, 90px 5px, 100% 5px, 100% 6px, 85px 6px, 80px 10px, 0px 10px);
}